<div class="header-content-space">
    <header class="header-template">
        <div class="logo-content">
            <h4>KHENDRA</h4>
        </div>

        <div class="header-perfil">
            <img src="https://khendra.s3.amazonaws.com/assets/perfil.png" alt="foto-perfil" id="perfil">
            <i class='bx bxs-down-arrow'></i>

            <div class="header-options none" id="options">
                <ul class="option">
                    <li><a href="#/perfil"><i class='bx bxs-user'></i>Perfil</a></li>
                    <li class="none" id="kcreators"><a href="#/creators"><i class='bx bxl-creative-commons'></i>KHENDRA
                            CREATORS</a></li>
                    <li id="salir-system" ><a href="#/"><i class='bx bxs-left-arrow-circle'></i>Salir</a></li>
                </ul>
            </div>
        </div>

    </header>
</div>