<header class="header-template">
    <div class="logo-content">
        <h4>KHENDRA</h4>
    </div>

    <div class="header-perfil">
        <img alt="foto-perfil" id="perfil">
        <i class='bx bxs-down-arrow'></i>

        <div class="header-options none" id="options">
            <ul class="option">
                <li><a href="#/perfil"><i class='bx bxs-user'></i>Perfil</a></li>
                <li><a href="#/creators"><i class='bx bxl-creative-commons'></i>KHENDRA CREATORS</a></li>
                <li><a href="#/"><i class='bx bxs-left-arrow-circle'></i>Salir</a></li>
            </ul>
        </div>
    </div>

</header>